<h1>Code Discuss</h1>

<ul>
  <% @posts.each do |post| %>
  <% user = User.find(post.user_id) %>
  <p><%= link_to post.content, user_post_path(user, post) %> | <%= post.vote %> upvotes | By: <%= user.name %> </p>
  <hr>
  <% end %>
</ul>
